.navbar {
    background: rgb(30, 30, 30);
    height : 4rem;
    width : 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top : 0;
    z-index: 3;
    font-size: 20px;

 
    
}

.logo{
    object-fit: cover;
    height: 2.5rem;
    border-radius: 50%;
    padding-left: 10%;
}

.desktopMenuListItem {
    margin: 1rem;
    color: white;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow ;
}
.desktopMenuBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    border: 2px solid #000; /* Border thickness */
    border-radius: 30px; /* Rounded corners */
    padding: 7px 10px; /* Adjust padding for a balanced look */
    font-size: 15px; /* Font size for text */
    font-weight: bold; /* Slightly bold text */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
    margin-right: 10%;
}

.desktopMenuIMG{
    width: 22px; /* Adjust width of the image */
    height: 22px; /* Adjust height of the image */
    margin-right: 5px; /* Space between image and text */


}

.desktopMenuBtn:hover {
    background-color: #c4b8e9; /* Light gray background on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds subtle shadow on hover */
}

.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.moblogo{
    display: none;
    object-fit: cover;
    height: 1.5rem;

}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.ListItem{
    color: white;
    padding: 0.5rem 3rem;
    margin : 0.25rem;
    background: rgb(30,30,30);

}

@media screen and (max-width:800px) {
    .moblogo{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
    
}


